* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    background-color: #80A7E6;
}

.mainHeader {
    background-color: #FF9060;
    display: flex;
}

.columnOne {
    padding: 0px;
    width: 25%;
    height: 200px;
}

.mainLogo {
    width: auto;
    height: 200px;
    background-image: url(../images/MainLogoImage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    justify-content: left;
}

.columnTwo {
    width: 50%;
    align-content: end;
}

.columnTwo h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}

#navMenu {
    background: #FF9060;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#navMenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #FF9060;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menuItem {
    transition: 0.3s ease;
    background: #FF9060;
    font-size: 25px;
    text-decoration: none;
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
}

.menuItem:hover {
    color: white;
}

.columnThree {
    padding: 0px;
    width: 25%;
    height: auto;
}

.mainLogo2 {
    width: auto;
    height: 200px;
    background-image: url(../images/MainLogoImage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 30px;
}

form {
    background-color: #FF9060;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    width: 40%;
    border: 1px solid black;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
    width: 98%;
}

input[type="submit"]{
    background-color: #80A7E6;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: aqua;
}

footer {
    text-align: center;
}