/* To clear any leftover site settings before loading page settings */
* {
    margin: 0;
    padding: 0;
}

/* To set the main color of the page */
body {
    width: auto;
    background-color: #80A7E6;
}

/* To set the color of the nav and header location */
.mainHeader {
    background-color: #FF9060;
    display: flex;
}

/* settings for the first column on the left */
.columnOne {
    padding: 0px;
    width: 25%;
    height: 200px;
}

/* settings to aligning/show the picture/logo in columnOne */
.mainLogo {
    width: auto;
    height: 200px;
    background-image: url(../images/MainLogoImage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    justify-content: left;
}

/* settings for the second column in the center and using relative positioning */
.columnTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    position: relative;
}

/* settings for the heading with images and text, setup for a float layout */
h1 {
    padding-bottom: 40px;
    overflow: auto;
}

/* settings for the two images with a float setting in order to allow them to show correctly */
img {
    border-radius: 25px;
    float: left;
}

/* settings for the page title with font size and style along with setting float property in order to show correctly with the images */
#mainTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

/* settings for the navigation menu section and using absolute positioning to move into right location*/
#navMenu {
    background: #FF9060;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 165px;
}

/* settings for the navigation menu on how to display */
#navMenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #FF9060;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* settings for the navigation menu for each option */
.menuItem {
    transition: 0.3s ease;
    background: #FF9060;
    font-size: 25px;
    text-decoration: none;
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
}

/* settings for the navigation menu for when the mouse hovers over the menu options */
.menuItem:hover {
    color: white;
}

/* settings for the third column on the right */
.columnThree {
    padding: 0px;
    width: 25%;
    height: auto;
}

/* settings to aligning/show the picture/logo in columnThree */
.mainLogo2 {
    width: auto;
    height: 200px;
    background-image: url(../images/MainLogoImage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* settings for the main form location and display for the text and form */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* setting text font and size above the form */
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

/* settings for the form box, making it look like a form */
form {
    background-color: #FF9060;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    width: 40%;
    border: 1px solid black;
}

/* settings for the form labels, text font, location, and display type */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* settings for the input text fields */
input[type="text"], input[type="email"], textarea {
    border: 1px solid black;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px;
    width: 98%;
}

/* settings for the submit button, also using relative positioning to center the button on the form */
button{
    position: relative;
    left: 40%;
    background-color: #80A7E6;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* settings for the submit button for when mouse hovers over  */
button:hover {
    background-color: lightgreen;
}